body{
    width: 100%;
    background-color: #1f2937;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}
li{
    margin-left: 15px;
}